@font-face {
  font-family: "TexGyreHeros";
  font-display: swap;
  src: url("../fonts/TexGyreHeros-Regular.woff") format("woff"), url("../fonts/TexGyreHeros-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "VG5000";
  font-display: swap;
  src: url("../fonts/VG5000-Regular.woff") format("woff"), url("../fonts/VG5000-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 95%;
  padding-left: 8px;
  padding-right: 12px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

body {
  font-family: VG5000, normal;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  color: #FCFCFC;
}

i {
  width: 25px;
  height: 25px;
  position: absolute;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #666;
}

.mask-reset {
  -webkit-mask-size: unset;
  -webkit-mask-repeat: unset;
  -webkit-mask-position: unset;
  background-color: unset;
}

.icon-cart {
  -webkit-mask-image: url(../img/iconsprite/cart.svg);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

body.lock {
  height: 100vh;
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  z-index: 1500;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-y: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0, 0) rotateX(0);
          transform: perspective(600px) translate(0, 0) rotateX(0);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  overflow: auto;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  overflow: auto;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
}

body {
  background: #080808;
  height: 100%;
}

html {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  padding: 75px 0px 200px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #0F87CA;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #0F87CA;
  color: #fff;
  line-height: 22px;
  padding: 12px 33px;
  font-family: VG5000, normal;
  font-size: 1em;
  border-radius: 32px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn__icon {
  top: 14px;
  left: 31px;
  width: 22px;
  height: 22px;
  background-color: #fff;
}

.btn:hover {
  background-color: red;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn_active {
  background-color: red;
}

.btn_disable {
  background-color: #333;
  border-color: green;
}

.form__inscription {
  color: blue;
  margin-bottom: 10px;
}

.menu {
  height: 57px;
}

.menu__item {
  font-size: 14px;
  padding: 0 14px;
  margin: 0 -14px;
  color: #FCFCFC;
}

.menu__item_active,
.menu__item:hover {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 220px;
}

.header__logo img {
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-reset: menuItem;
}

.header__li {
  text-transform: uppercase;
  font-size: 1.1111111111em;
  line-height: 150%;
  font-weight: 400;
  color: #FCFCFC;
  margin-left: 40px;
  position: relative;
  padding-left: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__li:hover {
  color: #FF44BF;
}

.header__li::before {
  counter-increment: menuItem;
  content: counter(menuItem);
  font-size: 0.7777777778em;
  line-height: 150%;
  position: absolute;
  top: -5px;
  left: 5px;
}

.header__li:first-child {
  margin-left: 0;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block-text {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3333333333em;
  line-height: 150%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__block-text:hover {
  color: #FF44BF;
}

.header_active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: #080808;
  overflow-x: hidden;
  overflow-y: auto;
}

.header_active .header__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header_active .header__logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header_active .header__nav {
  display: block;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
}

.header_active .header__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_active .header__li {
  margin-left: 0;
  font-size: 2.1111111111em;
  line-height: 100%;
  margin-top: 40px;
}

.header_active .header__li::before {
  display: none;
}

.header_active .header__block {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.burger-menu {
  display: none;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__row_copyright {
  font-family: TexGyreHeros, normal;
  border-top: 1.33335px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0px 35px 0px;
  font-size: 0.7777777778em;
  line-height: 142.8571428571%;
}

.footer__row_copyright a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__row_copyright a:hover {
  color: #FF44BF;
}

.footer__logo img {
  width: 100%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__li {
  text-transform: uppercase;
  font-size: 1.1111111111em;
  line-height: 150%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 40px;
}

.footer__li:first-child {
  margin-left: 0;
}

.footer__li:hover {
  color: #FF44BF;
}

.main-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 60px 0px 0px;
}

.main-block__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
}

.main-block__title {
  font-size: 5.8888888889em;
  line-height: 100%;
  color: #A5FA00;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.main-block__title span {
  position: relative;
}

.main-block__title img {
  position: absolute;
  bottom: -15px;
  right: -220px;
}

.main-block__text-wrapper {
  padding-left: 15%;
}

.main-block__text {
  font-family: TexGyreHeros, normal;
  font-size: 1.4444444444em;
  line-height: 138.4615384615%;
}

.main-block__text p {
  margin-top: 30px;
}

.main-block__text p:first-child {
  margin-top: 0;
}

.main-block__calc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  min-height: 830px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 100px;
  background: url(../img/gallery/croc.svg) no-repeat;
  background-position: center;
  background-size: 100%;
}

.main-block__calc-title {
  font-size: 2.4444444444em;
  line-height: 100%;
  opacity: 0.5;
  text-align: center;
}

.main-block__calc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.main-block__calc-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__calc-counter_disable {
  display: none;
}

.main-block__calc-btn {
  padding: 20px 60px;
  background: #A5FA00;
}

.main-block__calc-btn_disable {
  display: none;
}

.main-block__calc-copy {
  display: none;
  padding: 20px 60px;
  background: #A5FA00;
}

.main-block__calc-copy_active {
  display: inline-block;
}

.main-block__calc-text {
  font-size: 0.7777777778em;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.main-block__calc-text span {
  color: #A5FA00;
}

.main-block__corner {
  position: absolute;
}

.main-block__corner_one {
  top: -25px;
  right: -25px;
}

.main-block__corner_two {
  top: -25px;
  left: -25px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main-block__corner_three {
  bottom: -25px;
  left: -25px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.main-block__corner_four {
  bottom: -25px;
  right: -25px;
  -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.main-block__calc-sign {
  font-size: 5.5555555556em;
  line-height: 20%;
  color: #A5FA00;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-block__calc-sign:hover {
  color: #FF44BF;
  cursor: pointer;
}

.main-block__calc-sign input {
  display: none;
}

.main-block__calc-count {
  display: none;
}

.main-block__calc-wrapper {
  margin: 0px 50px;
}

.main-block__calc-wrapper span {
  font-size: 11.1111111111em;
  line-height: 150%;
  color: #FCFCFC;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-block__soc {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__soc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__soc-row img {
  width: 50px;
}

.main-block__soc-text {
  font-size: 0.7777777778em;
  line-height: 150%;
  text-transform: uppercase;
}

.main-block__text-block {
  display: none;
}

.main-block__text-block_active {
  display: block;
}

.main-block__big-text {
  font-size: 2.4444444444em;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.main-block__big-text span {
  color: #A5FA00;
}

.main-block__text-link {
  font-size: 1.1111111111em;
  line-height: 150%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-left: 12px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1370px;
  }

  .container_fluid {
    max-width: 1250px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1850px;
  }

  .container_fluid {
    max-width: 1640px;
  }
}

@media (max-width: 1599px) {
  .header__li {
    font-size: 1em;
    line-height: 133.3333333333%;
    margin-left: 30px;
  }

  .header__block-text {
    font-size: 1.1111111111em;
    line-height: 135%;
  }

  .main-block__title {
    font-size: 4.4444444444em;
    line-height: 112.5%;
  }

  .main-block__text {
    font-size: 1.1111111111em;
    line-height: 140%;
  }

  .main-block__calc {
    min-height: 650px;
  }

  .main-block__calc-title {
    font-size: 2.1111111111em;
    line-height: 100%;
  }

  .main-block__calc-btn img {
    width: 345px;
  }

  .main-block__corner_one {
    top: -15px;
    right: -15px;
  }

  .main-block__corner_two {
    top: -15px;
    left: -15px;
  }

  .main-block__corner_three {
    bottom: -15px;
    left: -15px;
  }

  .main-block__corner_four {
    bottom: -15px;
    right: -15px;
  }

  .main-block__corner {
    width: 90px;
  }
}

@media (max-width: 1199px) {
  .header__logo {
    width: 160px;
  }

  .header__li {
    font-size: 0.8888888889em;
    line-height: 118.75%;
    margin-left: 20px;
  }

  .header__block-text {
    font-size: 0.8888888889em;
    line-height: 118.75%;
  }

  .header__block-text img {
    width: 80px;
  }

  .footer__logo {
    width: 90px;
  }

  .footer__li {
    font-size: 1em;
    line-height: 138.8888888889%;
  }

  .footer__soc img {
    width: 90px;
  }

  .main-block__row {
    padding-right: 0;
  }

  .main-block__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
  }

  .main-block__text-wrapper {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .menu__list {
    padding: 15px 0;
  }

  .menu__item {
    background: #fff;
    padding: 5px 0;
    font-size: 0.875em;
  }

  .header__nav {
    display: none;
  }

  .header__block-text span {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 70px;
  }

  .footer__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__list {
    padding: 30px 0px;
    border-top: 1.33335px solid rgba(255, 255, 255, 0.2);
  }

  .footer__li {
    font-size: 1.5555555556em;
    line-height: 203.5714285714%;
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    max-width: 33%;
  }

  .footer__soc {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__soc img {
    width: 50px;
  }

  .main-block__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-block__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .main-block__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-block__title span {
    text-align: right;
    padding-right: 220px;
  }

  .main-block__title span img {
    right: 0;
  }

  .main-block__calc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 140px;
    width: 100%;
    padding: 25px 75px;
  }

  .main-block__calc-wrapper span {
    font-size: 8.8888888889em;
    line-height: 150%;
  }

  .main-block__soc {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 90px;
  }

  .main-block__big-text {
    font-size: 2.1111111111em;
    line-height: 100%;
  }
}

@media (max-width: 767px) {
  .footer__li {
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 540px) {
  main {
    padding-top: 25px;
  }

  .header__block-text img {
    width: 60px;
  }

  .burger-menu img {
    width: 60px;
  }

  .footer__row_copyright {
    font-size: 0.6666666667em;
    line-height: 133.3333333333%;
  }

  .footer__li {
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .main-block__title {
    font-size: 2.8888888889em;
    line-height: 121.1538461538%;
  }

  .main-block__title img {
    width: 90px;
    position: static;
  }

  .main-block__title span {
    padding-right: 0;
    text-align: left;
  }

  .main-block__text {
    font-size: 0.9444444444em;
    line-height: 141.1764705882%;
  }

  .main-block__text span {
    margin-left: 20%;
  }

  .main-block__calc {
    padding: 25px 25px;
  }

  .main-block__corner_one {
    top: -5px;
    right: -5px;
  }

  .main-block__corner_two {
    top: -5px;
    left: -5px;
  }

  .main-block__corner_three {
    bottom: -5px;
    left: -5px;
  }

  .main-block__corner_four {
    bottom: -5px;
    right: -5px;
  }

  .main-block__corner {
    width: 40px;
  }

  .main-block__calc-sign {
    font-size: 4.4444444444em;
    line-height: 150%;
  }

  .main-block__calc-wrapper span {
    font-size: 5.5555555556em;
    line-height: 150%;
  }

  .main-block__soc-text {
    font-size: 0.7222222222em;
    line-height: 107.6923076923%;
  }

  .main-block__big-text {
    font-size: 1.3333333333em;
    line-height: 100%;
  }

  .main-block__text-link {
    font-size: 0.7222222222em;
    line-height: 107.6923076923%;
  }
}