.header {
    padding: 22px 0px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 220px;

        img {
            width: 100%;
        }

        @media (max-width: $mxxl){
            width: 190px;
        }

        @media (max-width: $mxl){
            width: 160px;
        }

        @media (max-width: $mlg){
            width: 180px;
        }

    }

    &__nav {
        @media (max-width: $mlg){
            display: none;
        }
    }

    &__list {
        display: flex;
        counter-reset: menuItem; 
        
    }

    &__li {
        text-transform: uppercase;
        $fs: 20;
        font-size: calc($fs / $f-size) + em;
        line-height: calc(30 / $fs * 100%);
        font-weight: 400;
        color: $color-text;
        margin-left: 40px;
        position: relative;
        padding-left: 24px;
        transition: .3s;

        @media (max-width: $mxxl){
            $fs: 18;
            font-size: calc($fs / $f-size) + em;
            line-height: calc(24 / $fs * 100%);
            margin-left: 30px;
        }

        @media (max-width: $mxl){
           $fs: 16;
           font-size: calc($fs / $f-size) + em;
           line-height: calc(19 / $fs * 100%);
           margin-left: 20px;
        }

        

        &:hover {
            color: $color-green;
        }

        &::before {
            counter-increment: menuItem;       
            content: '0' counter(menuItem); 
            $fs: 14;
            font-size: calc($fs / $f-size) + em;
            line-height: calc(21 / $fs * 100%);
            position: absolute;
            top: -5px;
            left: -2px;

            @media (max-width: $mxxl){
                top: -8px;
            }
        }
        
        &:first-child {
            margin-left: 0;
            
        }

    }

    &__block {
        display: flex;
        align-items: center;
    }

    

    &__block-text {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        $fs: 24;
        font-size: calc($fs / $f-size) + em;
        line-height: calc(36 / $fs * 100%);
        transition: .3s;

        span {
            @media (max-width: $mlg){
                display: none;
            }
        }

        div {
            width: 50px;
            height: 50px;
            margin-left: 20px;
            background: url(../img/gallery/sound-bg.svg) no-repeat;
            background-position: center;
            background-size: contain;
            position: relative;
            filter: drop-shadow(0px 0px 26.667px rgba(165, 250, 0, 0.4));

            i {
                width: 30px;
                left: 9px;
                top: 12px;
                background: $color-black-bg;
            }

            @media (max-width: $mxxl){
                width: 44px;
                height: 44px;

                i {
                    width: 22px;
                    left: 11px;
                    top: 8px;
                }
            }

            @media (max-width: $mlg){
                margin-right: 15px;
                margin-left: 0;
            }
        }

        &:hover {
            color: $color-green;
        }

        @media (max-width: $mxxl){
            $fs: 18;
            font-size: calc($fs / $f-size) + em;
            line-height: calc(27 / $fs * 100%);
        }

        @media (max-width: $mxl){
            $fs: 16;
            font-size: calc($fs / $f-size) + em;
            line-height: calc(19 / $fs * 100%);

            img {
                width: 80px;
            }
        }

        @media (max-width: $wsm){
            img {
                width: 60px;
            }
            
        }
    }

    &_active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2000;
        background: $color-black-bg;
        overflow-x: hidden;
        overflow-y: auto;

        .header__row {
            flex-wrap: wrap;

        }

        .header__logo {
            order: 1;
        }

        .header__nav {
            display: block;
            order: 3;
            width: 100%;
        }

        .header__list {
            flex-direction: column;
            align-items: center;
        }

        .header__li {
            margin-left: 0;
            $fs: 38;
            font-size: calc($fs / $f-size) + em;
            line-height: calc(38 / $fs * 100%);
            margin-top: 40px;

            &::before {
               display: none;
            }
        }

        .header__block {
            order: 2;
        }
    }

}

.burger-menu {
    display: none;
    width: 44px;
    height: 44px;
    background: url(../img/gallery/menu-burger.svg) no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;

    span {
        width: 19px;
        height: 2px;
        background: $color-black-bg;

        position: absolute;
        top: 18px;
        left: 13px;
        transition: .3s;

        &:last-child {
            top: 25px;
        }
    }

    &_active {
        span {
            transform: rotate(-45deg);
            top: 22px;
           
            &:last-child {
                top: 22px;
                transform: rotate(45deg); 
            }
        }
    }

    @media (max-width: $mlg){
        display: block;
    }

    @media (max-width: $wsm){
        
    }
}

