.footer {

    &__block {
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 35px;

        @media (max-width: $mxxl){
            padding-bottom: 30px;
        }

        @media (max-width: $mlg){
            padding-bottom: 25px;
            padding-bottom: 0;
        }

        &_copyright {
            $fs: 18;
            font-size: calc($fs / $f-size) + em;
            line-height: calc(25 / $fs * 100%);
            font-family: $font-gyre;
            border-top: 1.33335px solid rgba(255, 255, 255, 0.2);
            padding: 20px 0px 35px 0px;
            

            a {
                transition: .3s;
                
                &:hover {
                    color: $color-green;
                }
            }

            @media (max-width: $mxxl){
                $fs: 14;
                font-size: calc($fs / $f-size) + em;
                line-height: calc(20 / $fs * 100%);
                padding: 15px 0px 25px 0px;
                
            }

            @media (max-width: $mlg){
                padding-bottom: 25px;
            }

            @media (max-width: $wsm){
                $fs: 12;
                font-size: calc($fs / $f-size) + em;
                line-height: calc(16 / $fs * 100%);
            }

        }

       
    }

    &__logo {
        img {
            width: 100%;
        }
        @media (max-width: $mxxl){
            width: 100px;
        }

        @media (max-width: $mlg){
            height: 40px;
            order: 1;
        }
    }

    &__nav {
        @media (max-width: $mlg){
            $grid: 100;
            flex: 0 0 0% + $grid;
            max-width: 0% + $grid;
            order: 3;
            margin-top: 25px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $mlg){
            padding: 30px 0px  15px 0px;
            border-top: 1.33335px solid rgba(255, 255, 255, 0.2);
            
        }
    }

    &__li {
        text-transform: uppercase;
        $fs: 20;
        font-size: calc($fs / $f-size) + em;
        line-height: calc(30 / $fs * 100%);
        transition: .3s;
        margin-left: 40px;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            color: $color-green;
        }

        @media (max-width: $mxxl){
            $fs: 18;
            font-size: calc($fs / $f-size) + em;
            line-height: calc(27 / $fs * 100%);
            margin-left: 30px;
        }

        @media (max-width: $mlg){
            $fs: 38;
            font-size: calc($fs / $f-size) + em;
            line-height: calc(57 / $fs * 100%);
            margin-left: 0;
            $grid: 50;
            flex: 0 0 0% + $grid;
            max-width: 0% + $grid;
            margin-bottom: 20px;
        }

        @media (max-width: $wsm){
            $grid: 100;
            flex: 0 0 0% + $grid;
            max-width: 0% + $grid;
        }
    }

    &__soc {
       @media (max-width: $mlg){
            order: 2;
            a {
                width: 44px;
                height: 44px;

                i {
                    top: 10px;
                    left: 11px;
                }
                &:first-child {
                    margin-right: 20px;
                     i {
                         left: 12px;
                     }
                }
            }
       }
    }
}