//===Шрифты===============================
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "_variables.scss";
@import "fonts.scss";
@import "_basic.scss";
@import "_icon.scss";

//===Модули===============================
@import "../../../_module/SCSS/reset";
// @import "../../../_module/SCSS/_ChoosQuant";
// @import "../../../_module/SCSS/_BreadСrumbs"; //Хлебные крошки  //!Сниппет "!BreadСrumbs" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_CheckRadio"; //Чекбоксы и радио кнопки  //!Сниппет "!CheckRadio" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_rating"; //Рейтинг //!Сниппет "!rating" ОТСУТСТВУЕТ
//@import "module/_InputNumber"; //Кастомный inpun number  //!Сниппет "!InputNumber" ОТСУТСТВУЕТ
//@import "module/_CircularDiagram"; //Круговая диаграмма  //!Сниппет "!CircularDiagram" ОТСУТСТВУЕТ
//@import "../../../_module/SCSS/_navmenu"; //Главное меню  //!Сниппет "!navmenu" html + js
// @import "../../../_module/SCSS/_tooltip"; //тултипы  //!Сниппет "!tultip" html
@import "../../../_module/SCSS/_modal"; //Модальное окно  //!Сниппет "!modal" html
//@import "../../../_module/SCSS/_validador-form"; //Валидатор форм  //!Сниппет "!forma" html
// @import "../../../_module/SCSS/_accordion"; //!Сниппет "!accordion" html
//@import "../../../_module/SCSS/_hidingNumbers"; //Скрытие номера  //!Сниппет "!hidnum" html
// @import "../../../_module/SCSS/_select"; //select поле выбора  //!Сниппет "!select" html
// @import "../../../_module/SCSS/_tabs"; //Табы  //!Сниппет "!Tabs" html
// @import "../../../_module/SCSS/_rating"; //Вывод рейтинга  //!Сниппет "!rating" html
//===Проект===============================

@import "_default.scss";

///////////////////////////////////////////////

//===Header and Footer===================
@import "header.scss";
@import "footer.scss";



// ============================
.main-block {

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__info {
		$grid: 35;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
	}

	&__title {
		$fs: 106;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(106 / $fs * 100%);
		color: $color-green;
		text-transform: uppercase;
		margin-bottom: 40px;
		span {
			position: relative;
		}

		img {
			position: absolute;
			bottom: -15px;
			right: -220px;
		}
	}

	&__text {
		font-family: $font-gyre; 
		$fs: 26;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(36 / $fs * 100%);

		span {
			margin-left: 150px;
		}
	}

	&__calc {
		$grid: 60;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		min-height: 830px;
		position: relative;
		box-sizing: border-box;
		display: flex;
		padding: 25px 0px;
	}

	&__calc-title {
		$fs: 44;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(44 / $fs * 100%);
		opacity: .5;
		text-align: center;
	}

	&__calc-row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-width: 100%;
		flex: 1 1;
	}

	&__calc-counter {
	}

	&__calc-btn {
	}

	&__calc-text {
		$fs: 14;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(21 / $fs * 100%);
		text-align: center;
		text-transform: uppercase;

		span {
			color: $color-green;
		}
	}

	&__corock {
		position: absolute;
		top: -10%;
		left: 10%;
		z-index: -1;

	}

	&__corner {
		position: absolute;

		&_one {
			top: -25px;
			right: -25px;
		}
		
		&_two {
			top: -25px;
			left: -25px;
			transform: rotate(-90deg);
			
		}

		&_three {
			bottom: -25px;
			left: -25px;
			transform: rotate(-180deg);
			
		}

		&_four {
			bottom: -25px;
			right: -25px;
			transform: rotate(-270deg);
			
		}
	}
}


