//===Шрифты===============================
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "_variables.scss";
@import "fonts.scss";
@import "_basic.scss";
@import "_icon.scss";

//===Модули===============================
@import "../../../_module/SCSS/reset";
// @import "../../../_module/SCSS/_ChoosQuant";
// @import "../../../_module/SCSS/_BreadСrumbs"; //Хлебные крошки  //!Сниппет "!BreadСrumbs" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_CheckRadio"; //Чекбоксы и радио кнопки  //!Сниппет "!CheckRadio" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_rating"; //Рейтинг //!Сниппет "!rating" ОТСУТСТВУЕТ
//@import "module/_InputNumber"; //Кастомный inpun number  //!Сниппет "!InputNumber" ОТСУТСТВУЕТ
//@import "module/_CircularDiagram"; //Круговая диаграмма  //!Сниппет "!CircularDiagram" ОТСУТСТВУЕТ
//@import "../../../_module/SCSS/_navmenu"; //Главное меню  //!Сниппет "!navmenu" html + js
// @import "../../../_module/SCSS/_tooltip"; //тултипы  //!Сниппет "!tultip" html
@import "../../../_module/SCSS/_modal"; //Модальное окно  //!Сниппет "!modal" html
//@import "../../../_module/SCSS/_validador-form"; //Валидатор форм  //!Сниппет "!forma" html
// @import "../../../_module/SCSS/_accordion"; //!Сниппет "!accordion" html
//@import "../../../_module/SCSS/_hidingNumbers"; //Скрытие номера  //!Сниппет "!hidnum" html
// @import "../../../_module/SCSS/_select"; //select поле выбора  //!Сниппет "!select" html
// @import "../../../_module/SCSS/_tabs"; //Табы  //!Сниппет "!Tabs" html
// @import "../../../_module/SCSS/_rating"; //Вывод рейтинга  //!Сниппет "!rating" html
//===Проект===============================

@import "_default.scss";

///////////////////////////////////////////////

//===Header and Footer===================
@import "header.scss";
@import "footer.scss";



// ============================
.main-block {

	&__row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0px 60px 0px 0px;

		@media (max-width: $mxl){
			padding-right: 0;
		}

		@media (max-width: $mlg){
			flex-direction: column;
		}
	}

	&__info {
		$grid: 45;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;

		@media (max-width: $mxl){
			$grid: 45;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}

		@media (max-width: $mlg){
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}
	}

	&__title {
		$fs: 106;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(106 / $fs * 100%);
		color: $color-green;
		text-transform: uppercase;
		margin-bottom: 40px;
		span {
			position: relative;
		}

		img {
			position: absolute;
			bottom: -15px;
			right: -220px;
		}

		@media (max-width: $mxxl){
			$fs: 80;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(90 / $fs * 100%);
		}

		@media (max-width: $mlg){
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			span {
				text-align: right;
				padding-right: 220px;

				img {
					right: 0;
				}
			}
		}

		@media (max-width: $wsm){
			$fs: 52;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(63 / $fs * 100%);
		

			img {
				width: 90px;
				position: static;
			}

			span {
				padding-right: 0;
				text-align: left;
			}
		}
	}

	&__text-wrapper {
		padding-left: 15%;

		@media (max-width: $mxl){
			padding-left: 0;
		}
	}

	&__text {
		font-family: $font-gyre; 
		$fs: 26;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(36 / $fs * 100%);

		p {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}
		}

		@media (max-width: $mxxl){
			$fs: 20;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(28 / $fs * 100%);
		}

		@media (max-width: $wsm){
			$fs: 17;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(24 / $fs * 100%);

			span {
				margin-left: 20%;
			}
		}
	}

	&__calc {
		$grid: 50;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		min-height: 830px;
		position: relative;
		box-sizing: border-box;
		display: flex;
		padding: 25px 100px;

		background: url(../img/gallery/crock.jpg);
		background-position: center;

		@media (max-width: $mxxl){
			min-height: 650px;
		}

		@media (max-width: $mlg){
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			margin-top: 140px;
			width: 100%;
			padding: 25px 75px;
		}

		@media (max-width: $wsm){
			padding: 25px 25px;
		}
	}

	&__calc-title {
		$fs: 44;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(44 / $fs * 100%);
		opacity: .5;
		text-align: center;

		@media (max-width: $mxxl){
			$fs: 38;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(38 / $fs * 100%);
		}
	}

	&__calc-row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-width: 100%;
		flex: 1 1;
	}

	&__calc-counter {
		display: flex;
		align-items: center;

		&_disable {
			display: none;
		}
	}

	&__calc-btn {
		@media (max-width: $mxxl){
			img {
				width: 345px;
			}
		}
		padding: 20px 60px;
		background: $color-green;

		&_disable {
			display: none;
		}
	}

	&__calc-copy {
		display: none;
		padding: 20px 60px;
		background: $color-green;

		&_active {
			display: inline-block;
		}
	}

	&__calc-text {
		$fs: 14;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(21 / $fs * 100%);
		text-align: center;
		text-transform: uppercase;

		span {
			color: $color-green;
		}

		
	}

	&__corner {
		position: absolute;

		&_one {
			top: -25px;
			right: -25px;

			@media (max-width: $mxxl){
				top: -15px;
				right: -15px;
			}

			@media (max-width: $wsm){
				top: -5px;
				right: -5px;
			}

			
		}
		
		&_two {
			top: -25px;
			left: -25px;
			transform: rotate(-90deg);

			@media (max-width: $mxxl){
				top: -15px;
				left: -15px;
			}

			
			@media (max-width: $wsm){
				top: -5px;
				left: -5px;
			}
			
		}

		&_three {
			bottom: -25px;
			left: -25px;
			transform: rotate(-180deg);

			@media (max-width: $mxxl){
				bottom: -15px;
				left: -15px;
			}

			@media (max-width: $wsm){
				bottom: -5px;
				left: -5px;
			}
			
		}

		&_four {
			bottom: -25px;
			right: -25px;
			transform: rotate(-270deg);
			

			@media (max-width: $mxxl){
				bottom: -15px;
				right: -15px;
			}

			@media (max-width: $wsm){
				bottom: -5px;
				right: -5px;
			}
		}

		@media (max-width: $mxxl){
			width: 90px;
		}

		@media (max-width: $wsm){
			width: 40px;
		}
	}

	&__calc-sign {
		$fs: 100;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(20 / $fs * 100%);
		color: $color-green;
		transition: .3s;
		user-select: none;

		&:hover {
			color: $color-pink;
			cursor: pointer;
		}

		@media (max-width: $wsm){
			$fs: 80;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(120 / $fs * 100%);
		}

		

		input {
			display: none;
		}
	}

	&__calc-count {
		display: none;
	}

	&__calc-wrapper {
		span {
			$fs: 200;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(300 / $fs * 100%);
			color: $color-text;
			user-select: none;

			@media (max-width: $mlg){
				$fs: 160;
				font-size: calc($fs / $f-size) + em;
				line-height: calc(240 / $fs * 100%);
			}

			@media (max-width: $wsm){
				$fs: 100;
				font-size: calc($fs / $f-size) + em;
				line-height: calc(150 / $fs * 100%);
			}
		}
		margin: 0px 50px;
	}

	&__soc {
		margin-top: 100px;
		display: flex;
		align-items: center;

		@media (max-width: $mlg){
			justify-content: flex-end;
			margin-top: 90px;
		}
	}

	&__soc-row {
		display: flex;

		img {
			width: 50px;
		}
	}

	&__soc-text {
		$fs: 14;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(21 / $fs * 100%);
		text-transform: uppercase;

		@media (max-width: $wsm){
			$fs: 13;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(14 / $fs * 100%);
		}
	}

	&__text-block {
		display: none;

		&_active {
			display: block;
		}
	}

	&__big-text {
		$fs: 44;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(44 / $fs * 100%);
		text-align: center;
		margin-bottom: 20px;

		span {
			color: $color-green;
		}

		@media (max-width: $mlg){
			$fs: 38;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(38 / $fs * 100%);
		}

		@media (max-width: $wsm){
			$fs: 24;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(24 / $fs * 100%);
		}
	}
	
	&__text-link {
		$fs: 20;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(30 / $fs * 100%);

		
		@media (max-width: $wsm){
			$fs: 13;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(14 / $fs * 100%);
		}

	}
}