//===Шрифты===============================
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "_variables.scss";
@import "fonts.scss";
@import "_basic.scss";
@import "_icon.scss";

//===Модули===============================
@import "../../../_module/SCSS/reset";
// @import "../../../_module/SCSS/_ChoosQuant";
// @import "../../../_module/SCSS/_BreadСrumbs"; //Хлебные крошки  //!Сниппет "!BreadСrumbs" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_CheckRadio"; //Чекбоксы и радио кнопки  //!Сниппет "!CheckRadio" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_rating"; //Рейтинг //!Сниппет "!rating" ОТСУТСТВУЕТ
//@import "module/_InputNumber"; //Кастомный inpun number  //!Сниппет "!InputNumber" ОТСУТСТВУЕТ
//@import "module/_CircularDiagram"; //Круговая диаграмма  //!Сниппет "!CircularDiagram" ОТСУТСТВУЕТ
//@import "../../../_module/SCSS/_navmenu"; //Главное меню  //!Сниппет "!navmenu" html + js
// @import "../../../_module/SCSS/_tooltip"; //тултипы  //!Сниппет "!tultip" html
@import "../../../_module/SCSS/_modal"; //Модальное окно  //!Сниппет "!modal" html
//@import "../../../_module/SCSS/_validador-form"; //Валидатор форм  //!Сниппет "!forma" html
// @import "../../../_module/SCSS/_accordion"; //!Сниппет "!accordion" html
//@import "../../../_module/SCSS/_hidingNumbers"; //Скрытие номера  //!Сниппет "!hidnum" html
// @import "../../../_module/SCSS/_select"; //select поле выбора  //!Сниппет "!select" html
// @import "../../../_module/SCSS/_tabs"; //Табы  //!Сниппет "!Tabs" html
// @import "../../../_module/SCSS/_rating"; //Вывод рейтинга  //!Сниппет "!rating" html
//===Проект===============================

@import "_default.scss";

///////////////////////////////////////////////

//===Header and Footer===================
@import "header.scss";
@import "footer.scss";



// ============================
.main-block {

	&__row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0px 60px 0px 0px;

		@media (max-width: $mxl){
			padding-right: 0;
		}

		@media (max-width: $mlg){
			flex-direction: column;
		}
	}

	&__info {
		$grid: 48;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;

		@media (max-width: $mxl){
			$grid: 45;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}

		@media (max-width: $mlg){
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}
	}

	&__title {
		$fs: 106;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(106 / $fs * 100%);
		color: $color-green;
		text-transform: uppercase;
		margin-bottom: 40px;
		margin-top: 55px;
		span {
			position: relative;
		}

		img {
			position: absolute;
			bottom: -15px;
			right: -220px;
		}

		@media (max-width: $mxxl){
			$fs: 80;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(90 / $fs * 100%);
			margin-top: 0;

			img {
				bottom: -20px;
			}
		}

		@media (max-width: $mlg){
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			img {
				bottom: -24px;
			}

			span {
				text-align: right;
				padding-right: 220px;

				img {
					right: 0;
				}
			}
		}

		@media (max-width: $wsm){
			$fs: 52;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(63 / $fs * 100%);
		

			img {
				width: 120px;
				top: 0px;
				left: 125px;
			}

			span {
				padding-right: 0;
				text-align: left;
			}
		}
	}

	&__text-wrapper {
		padding-left: 165px;

		@media (max-width: $mxxl){
			padding-left: 115px;
		}

		@media (max-width: $mxl){
			padding-left: 0;
		}
	}

	&__block-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__text {
		font-family: $font-gyre; 
		$fs: 26;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(36 / $fs * 100%);
		max-width: 845px;

		span {
			margin-left: 20%;
		}

		p {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}
		}

		@media (max-width: $mxxl){
			$fs: 20;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(28 / $fs * 100%);
		}

		@media (max-width: $wsm){
			$fs: 17;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(24 / $fs * 100%);
			max-width: unsent;
			
		}
	}

	&__calc {
		$grid: 47;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		min-height: 830px;
		position: relative;
		box-sizing: border-box;
		display: flex;
		padding: 25px 100px;

		background: url(../img/gallery/croc.svg) no-repeat;
		background-position: center;
		background-size: 100%;

		@media (max-width: $mxxl){
			min-height: 650px;
			padding: 25px 50px;
		}

		@media (max-width: $mxl){
			$grid: 50;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}

		@media (max-width: $mlg){
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			margin-top: 80px;
			width: 100%;
			padding: 25px 75px;
		}

		@media (max-width: $wsm){
			margin-top: 50px;
			min-height: 450px;
			padding: 25px 0px;
		}
	}
	
	

	&__calc-title {
		$fs: 44;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(44 / $fs * 100%);
		opacity: .5;
		text-align: center;
		margin-bottom: 160px;

		@media (max-width: $mxxl){
			$fs: 38;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(38 / $fs * 100%);
			margin-bottom: 130px;
		}

		@media (max-width: $mlg){
			margin-bottom: 100px;
		}

		@media (max-width: $wsm){
			$fs: 24;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(24 / $fs * 100%);
			margin-bottom: 40px;
		}
	}

	&__calc-row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-width: 100%;
		flex: 1 1;
	}

	&__calc-counter {
		display: flex;
		align-items: center;
		&_disable {
			display: none;
		}
	}

	&__calc-btn {
		margin-top: 80px;
		@media (max-width: $mxxl){
			min-width: 380px;
		}

		@media (max-width: $wsm){
			margin-top: 35px;
		}
		&_disable {
			display: none;
		}
	}

	&__calc-copy {
		display: none;
		position: relative;
		padding-left: 90px;
		margin-top: 35px;

		&_active {
			display: flex;
		}

		&:hover {
			i {
				background: #fff;
			}
		}

		i {
			background: $color-black-bg;
			left: 60px;
			top: 35px;
			transition: .3s;
		}

		@media (max-width: $mxxl){
			padding-left: 45px;
			i {
				width: 20px;
				background: $color-black-bg;
				left: 53px;
				top: 33px;
				transition: .3s;
			}
		}

		@media (max-width: $wsm){
			i {
				width: 20px;
				background: $color-black-bg;
				left: 30px;
				top: 34px;
				transition: .3s;
			}
		}

		
	}

	&__calc-text {
		$fs: 14;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(21 / $fs * 100%);
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 20px;
		max-width: 510px;
		margin-top: 150px;

		span {
			color: $color-green;
		}

		@media (max-width: $mxxl){
			// margin-top: 160px;
			max-width: 400px;
		}

		@media (max-width: $mlg){
			margin-top: 70px;
		}

		@media (max-width: $wsm){
			$fs: 10;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(11 / $fs * 100%);
			max-width: 200px;
		}

		
	}

	&__corner {
		position: absolute;

		&_one {
			top: -25px;
			right: -25px;

			@media (max-width: $mxxl){
				top: -15px;
				right: -15px;
			}

			@media (max-width: $wsm){
				top: -10px;
				right: -10px;
			}

			
		}
		
		&_two {
			top: -25px;
			left: -25px;
			transform: rotate(-90deg);

			@media (max-width: $mxxl){
				top: -15px;
				left: -15px;
			}

			
			@media (max-width: $wsm){
				top: -10px;
				left: -10px;
			}
			
		}

		&_three {
			bottom: -25px;
			left: -25px;
			transform: rotate(-180deg);

			@media (max-width: $mxxl){
				bottom: -15px;
				left: -15px;
			}

			@media (max-width: $wsm){
				bottom: -10px;
				left: -10px;
			}
			
		}

		&_four {
			bottom: -25px;
			right: -25px;
			transform: rotate(-270deg);
			

			@media (max-width: $mxxl){
				bottom: -15px;
				right: -15px;
			}

			@media (max-width: $wsm){
				bottom: -10px;
				right: -10px;
			}
		}

		@media (max-width: $mxxl){
			width: 90px;
		}

		@media (max-width: $wsm){
			width: 60px;
		}
	}

	&__calc-sign {
		$fs: 100;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(20 / $fs * 100%);
		color: $color-green;
		transition: .3s;
		user-select: none;
		
		

		&:hover {
			color: $color-pink;
			cursor: pointer;
		}

		
		@media (max-width: $mxxl){
			$fs: 80;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(100 / $fs * 100%);

			span {
				display: flex;
				align-items: center;
			}
		}

		

		input {
			display: none;
		}
	}

	&__calc-end {
        padding-left: 90px;
		position: relative;
		margin-top: 32px;

		i {
			width: 20px;
			top: 35px;
			left: 150px;
			background: $color-black-bg;
			transition: .3s;
		}

		&:hover {
			i {
				background: #fff;
			}
		}
		display: none;

		&_active {
			display: flex;
		}

		@media (max-width: $mxxl){
			i {
				top: 35px;
				left: 125px;
			}

			span {
				margin-left: 20px;
			}
		}

		@media (max-width: $wsm){
			i {
				width: 18px;
				top: 35px;
				left: 95px;
			}

			span {
				margin-left: 20px;
			}
		}
    }

	&__calc-count {
		display: none;
	}

	&__calc-wrapper {
		span {
			$fs: 200;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(140 / $fs * 100%);
			color: $color-text;
			user-select: none;

			@media (max-width: $mxxl){
				$fs: 160;
				font-size: calc($fs / $f-size) + em;
				line-height: calc(120 / $fs * 100%);
			}

			@media (max-width: $wsm){
				$fs: 100;
				font-size: calc($fs / $f-size) + em;
				line-height: calc(100 / $fs * 100%);
			}
		}
		margin: 0px 50px;
	}

	&__soc-text {
		$fs: 14;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(21 / $fs * 100%);
		text-transform: uppercase;

		@media (max-width: $wsm){
			$fs: 13;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(14 / $fs * 100%);
		}
	}

	&__text-block {
		display: none;

		&_active {
			display: block;
		}
	}

	&__big-text {
		$fs: 44;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(44 / $fs * 100%);
		text-align: center;
		margin-bottom: 20px;

		span {
			color: $color-green;
		}

		@media (max-width: $mlg){
			$fs: 38;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(38 / $fs * 100%);
		}

		@media (max-width: $wsm){
			$fs: 24;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(24 / $fs * 100%);
		}
	}
	
	&__text-link {
		$fs: 20;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(30 / $fs * 100%);

		
		@media (max-width: $wsm){
			$fs: 13;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(14 / $fs * 100%);
		}

	}

	&__soc {
		@media (max-width: $mlg){
			margin-top: 60px;

		}
		
	}
}

.soc {
	display: flex;
	align-items: center;

	&__row {
		display: flex;
	}

	a {
		width: 50px;
		height: 50px;
		background-position: center;
		background-size: cover;
		position: relative;
		filter: drop-shadow(0px 0px 20px rgba(165, 250, 0, 0.4));
		
		i {
			background: $color-black-bg;
			transition: .3s;
		}

		&:hover {
			i {
				background: #fff;
			}
			
		}

		@media (max-width: $mxxl){
			width: 50px;
			height: 50px;
		}
	}

	&__twitter {
		background: url(../img/gallery/twitter-bg.svg) no-repeat;
		margin-right: 12px;
		i {
			top: 12px;
			left: 12px;

			@media (max-width: $mxxl){
				width: 20px;
				top: 13px;
				left: 15px;
			}
		}

		@media (max-width: $mxxl){
			margin-right: 9px;
		}

		
	}

	&__discord {
		background: url(../img/gallery/discord-bg.svg) no-repeat;

		i {
			
			top: 12px;
			left: 12px;

			@media (max-width: $mxxl){
				width: 22px;
				top: 12px;
				left: 13px;
			}
		}
	}

	&__text {
		margin-left: 52px;
		$fs: 14;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(21 / $fs * 100%);
		text-transform: uppercase;

		@media (max-width: $mxxl){
			margin-left: 28px;
		}

		@media (max-width: $wsm){
			$fs: 13;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(14 / $fs * 100%);
		}

		br {
			display: none;
		}
		max-width: 180px;

		@media (max-width: $mlg){
			
			br {
				display: block;
			}
		}
	}
}
